## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
x=4

In [3]:
print(x)

4

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
print (type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [3]:
nombre='Matias'
print(nombre)

Matias

5) Crear una variable que contenga un número complejo

In [7]:
c=2+6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
import math
pi=math.pi
p=round(pi,4)
print(p)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [14]:
T='True'
V=True
#No son lo mismo 'True' es un string y True es un booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [15]:
print(type(T))
print(type(V))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [5]:
b=3+4.5
print(b)

7.5

11) Realizar una operación de suma de números complejos

In [18]:
c=2+4j
d=complex(5,-2)
e=c+d
print(e)

(7+2j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
f=5+d
print(f)

(10-2j)

13) Realizar una operación de multiplicación

In [20]:
5*6

30

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
print(27/4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
(4*6)+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
'Hola '+'Mundo!'

'Hola Mundo!'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [29]:
'2'=2
#no son iguales, '2' es un str y 2 un int

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2954578823.py, line 1)

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [31]:
int('2')==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#Porque los float se escriben con "."

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [33]:
m=9
m-=3
print(m)

6

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1<<2
#Porque se desplaza 1 dos bits a la izquierda (1*2**2)+(0*2**1)+(0*2*0)=4
#El sistema binario solo utiliza 0 y 1

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [35]:
2+'2'
#no se permite porque uno es un str y el otro un int.
#No, si fueran 2 str, da '22' y si fueran 2 int da '4'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [1]:
'Hola '*2

'Hola Hola '